.ct-parse-input {
    padding: 7px 14px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    input {
        font-size: 14px;
        padding: 8px 8px;
        flex: 4;
        margin: 8px 16px;
        font-family: "open_sansregular";
        border: 1px solid $skyblue-light;
        border-radius: 5px;
    }
    input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 1px $skyblue-light inset;
    }
    input::-webkit-input-placeholder {
        color: rgba(134, 133, 133, 0.96);
        font-weight: normal;
        font-style: italic;
    }
    button {
        padding: 8px 8px;
        float: right;
        margin: 8px 8px;
        flex: 1;
        background-color: $skyblue;
        border-radius: 5px;
    }
    button:hover {
        background: $skyblue-light;
    }
}

.ct-parse-pre {
    max-height: 600px;
    width: 100%;
    display: flex;
    border: 1px solid $skyblue-light;
    border-radius: 5px;
    margin: auto;
    pre {
        margin: 8px 8px;
        white-space: initial;
        word-wrap: break-word;
        flex: 1;
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        overflow: auto;
        padding: 8px 8px;
        background-color: transparent;
    }
}

.json-three-italic {
    font-style: italic;
    font-size: 10px;
    color: #F91010;
    text-transform: lowercase;
}

.ct-parse-creator {
    margin: 20px 0px;
    display: flex;
    flex: 1;
    background-color: #E4FAFF;
}

.ct-parse-json-form {
    flex: 1;
    margin: 16px 16px;
    background-color: transparent;
    button {
        padding: 8px 20px;
        float: right;
        margin-top: 20px;
        margin-right: 0px;
        border-radius: 5px;
    }
}

.jschema-layout {
    background-color: rgba(240, 233, 240, 0);
    padding: 8px 8px;
    label {
        color: #7E7A7A;
        font-size: 16px;
        padding: 0px 2px;
        margin: 10px 4px;
    }
    input {
        font-size: 14px;
        padding: 8px 8px;
        margin: 8px auto;
        font-family: "open_sansregular";
        border: 1px solid $skyblue-light;
        border-radius: 5px;
    }
    input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 1px $skyblue-light inset;
    }
    input::-webkit-input-placeholder {
        color: rgba(134, 133, 133, 0.96);
        font-weight: normal;
        font-style: italic;
    }
    button {
        padding: 4px 4px;
        margin: 4px 4px;
        border-radius: 5px;
    }
    div.field-object {
        border: 1px solid $skyblue-light;
        padding: 8px 16px;
        background-color: #E9F1F3;   
        max-width: 500px; 
        margin: 8px auto;   
        legend {
            color: #2D30F3;
            font-size: 16px;
            font-weight: 300;
            margin: 20px 8px;
            text-align: left;            
        }
        
    }
}

div.array-item {
    border: 1px solid $skyblue-light;
    margin: 16px auto;
    padding: 8px 8px;
    width: 88%;
    label {
        color: #4B4A49;
    }
}

button.btn-add {
    background: #15C415;
    width: 40px;
    float: right;
}

button.btn-add:hover {
    background: #10A110;
}

div.field-array {
    margin-top: 50px;
}

button.array-item-remove {
    width: 40px;
    float: right;
    background: #E91010;    
}



div.field-object {
    padding: 8px 16px;
    legend {
        color: #2D30F3;
        font-size: 18px;
        font-weight: bold;
        margin: 20px 8px;
        text-align: center;
    }
}

